<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}
<head>
	<title>Menu</title>

   <style>
      .container{
         width: 60%;
      }
      .center{
         margin: auto;
         width: 50%;
         padding: 10px;
      }
      td, th {
         text-align: center;
      }
   </style>

</head>

<body class="container">
   {% if cart %}
   <table data-toggle="table">
      <thead>
         <tr>
            <th align="center">Menu Item</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Picture</th>
            <th>Quantity</th>
         </tr>
      </thead>
   	{% for key, value in cart.items() %}
		<tr id="tr-id-1" class="tr-class-1">
			<td id="td-id-1" class="td-class-1" align="center">{{ key }}</td>
			<td align="center">{{ value[0] }}</td>
         <td align="center">{{ value[1] }}</td>
         <td align="center">
            <img border="0"  src="{{value[2]}}" width="101" height="100">   
         </td>
         <td align="center">{{value[3]}}</td>
		</tr>
		{% endfor %}
   </table>
   {% else %}
   <table data-toggle="table">
      <td>You Have No Items In Your Cart.</td>
   </table>
   {% endif %}
   <br/>
   <center><a class="btn btn-primary" href="/pay/{{total}}">Complete Order</a></center>

</body>
{% endblock %}
</html>
