<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}
<head>
   <title>Menu</title>
</head>

<body>
   {% if menu %}
   <table data-toggle="table">
      <thead>
         <tr>
            <th>Menu Item</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Picture</th>
            <th>Purchase</th>
         </tr>
      </thead>
      {% for key, value in menu.items() %}
      <tr id="tr-id-1" class="tr-class-1">
         <td id="td-id-1" class="td-class-1">{{ key }}</td>
         <td>{{ value[0] }}</td>
         <td>{{ value[1] }}</td>
         <td>
            <img border="0"  src="{{value[2]}}" width="100" height="100"> 
         </td>
         <td><a class="btn btn-primary" href="/purchase/{{key}}" onClick="alert('{{key}} has added to your cart')">Buy</a></td>
      </tr>
      {% endfor %}
   </table>
   {% else %}
   <table data-toggle="table">
      <td>You Are No Menu Items</td>
   </table>
   {% endif %}

   <!-- Buddy Add Menu Items -->
   {% if user_type == 'buddy' %}
   <div class="col-md-12 text-center">
      <ul class="nav nav-pills center-pills">
         <li role="presentation"><a href="/add_item">Add Menu Item</a></li>
      </ul>
   </div>   
   {% endif %}
</body>
{% endblock %}
</html>
