<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}
<head>
   <title>Messages</title>
</head>

<body>
   <div>
   {% if messages %}

   <!-- If Patron, shows Order updates-->
   {% if user_type == 'patron' %}
   <table data-toggle="table">
      <thead>
         <tr>
            <th>Message</th>
            <th>Time</th>
            <th>Action</th>
      </thead>
      {% for key, value in messages.items() %}
      <tr id="tr-id-1" class="tr-class-1">
         <td id="td-id-1" class="td-class-1">{{value['message']}}</td>
         <td >{{value['date_time']}}</td>
         <td><a class="btn btn-primary" href="/remove_message/{{key}}" onClick="alert('Message has been removed')">Remove</a></td>
      </tr>
      {% endfor %}
   </table>

<!-- If Nerd, shows Employee Elevation Requests-->
   {% elif user_type == 'nerd' %}
   <table data-toggle="table">
      <thead>
         <tr>
            <th>Message</th>
            <th>Action</th>
         </tr>
      </thead>
      {% for key, value in messages.items() %}
      <tr id="tr-id-1" class="tr-class-1">
         <td id="td-id-1" class="td-class-1">{{ value['message'] }}</td>
         <td>
            <a class="btn btn-primary" href="/elevate/{{key}}" onClick="alert('User has been elevated to Employee.')">Elevate</a>
            <a class="btn btn-primary" href="/reject/{{key}}" onClick="alert('User has been removed from the system.')">Reject</a>
         </td>
      </tr>
      {% endfor %}
   </table>


   {% else %}
   <table data-toggle="table">
      <td>There are no messages.</td>
   </table>
   {% endif %}
   {% else %}
	<table data-toggle="table">
		<td>There are no messages.</td>
   </table>
   {% endif %}
   </div>
</body>
{% endblock %}
</html>
