<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}
<head>
   <title>Messages</title>
</head>

<body>
   {% if messages %}
   <div class="container">
   <table data-toggle="table">
      <thead>
         <tr>
            <th>Message</th>
            <th>Action</th>
      </thead>
      {% for key, value in messages.items() %}
      <tr id="tr-id-1" class="tr-class-1">
         <td id="td-id-1" class="td-class-1">{{value['message']}}</td>
         <td><a class="btn btn-primary" href="/remove_message/{{key}}" onClick="alert('Message has been removed')">Remove</a></td>
      </tr>
      {% endfor %}
   </table>
   {% else %}
   <table data-toggle="table">
      <td>There are no messages.</td>
   </table>
   {% endif %}

   <!-- Buddy Add Menu Items -->
   {% if user_type == 'buddy' %}
   <div class="col-md-12 text-center">
      <ul class="nav nav-pills center-pills">
         <li role="presentation"><a href="/add_item">Add Menu Item</a></li>
      </ul>
   </div>   
   {% endif %}
   </div>
</body>
{% endblock %}
</html>
