<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}
<head>
   <title>Orders</title>
   <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap-table-zh-CN.js') }}"></script>

   <link rel="stylesheet" href="../static/css/bootstrap.min.css">
   <link rel="stylesheet" href="../static/css/bootstrap-table.css">

</head>

<body>
   {% if orders %}

   <!-- If Buddy, shows uncompleted order of Restaurant-->
   {% if user_type == 'buddy' %}
   <table data-toggle="table">
      <thead>
         <tr>
            <th>Menu Item</th>
            <th>Cost</th>
            <th>Prepare</th>
         </tr>
      </thead>
      {% for key, value in orders.items() %}
      <tr id="tr-id-1" class="tr-class-1">
         <td id="td-id-1" class="td-class-1">{{ value['entree'] }}</td>
         <td>{{ value['cost'] }}</td>
         <td><a class="btn btn-primary" href="/deliver/{{key}}" onClick="alert('{{value['entree']}} Will be Delivered')">Deliver</a></td>
      </tr>
      {% endfor %}
   </table> 

   <!-- If Chauffeur, shows undeliverd orders-->
   {% elif user_type == 'chauffeur' %}
   <table data-toggle="table">
      <thead>
         <tr>
            <th>Menu Item</th>
            <th>Address</th>
            <th>Prepare</th>
         </tr>
      </thead>
      {% for key, value in orders.items() %}
      <tr id="tr-id-1" class="tr-class-1">
         <td id="td-id-1" class="td-class-1">{{ value['entree'] }}</td>
         <td>{{ value['address'] }}</td>
         <td><a class="btn btn-primary" href="/complete_order/{{key}}" onClick="alert('{{value['entree']}} delivery has been completed')">Complete</a></td>
      </tr>
      {% endfor %}
   </table> 
   {% else %}

   <!-- Orders of Everyone else -->
   <table data-toggle="table">
      <thead>
         <tr>
            <th>Menu Item</th>
            <th>Cost</th>
         </tr>
      </thead>
      {% for key, value in orders.items() %}
      <tr id="tr-id-1" class="tr-class-1">
         <td id="td-id-1" class="td-class-1">{{ value['entree'] }}</td>
         <td>{{ value['cost'] }}</td>
      </tr>
      {% endfor %}
   </table> 
   {% endif %}
   {% else %}
   You have no orders! 
   {% endif %}
</body>

{% endblock %}
</html>
