<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}
<head>
   <title>Orders</title>
   <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap-table-zh-CN.js') }}"></script>

   <link rel="stylesheet" href="../static/css/bootstrap.min.css">
   <link rel="stylesheet" href="../static/css/bootstrap-table.css">

</head>

<body>
   {% if orders %}
   <table>
      <tr>
         <th>Menu Item</th>
         <th>Cost</th>
      </tr>
      {% for key, value in orders.items() %}
      <tr>
         <th>{{ value[0] }}</th>
         <th>{{ value[2] }}</th>
      </tr>
      {% endfor %}
   </table> 
   {% else %}
   You have no orders! 
   {% endif %}
</body>

{% endblock %}
</html>
