<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}
<head>
      <!-- This page was brought to you by-->
      <!-- https://jessepollak.github.io/card/ -->		
      <title>Pay QuickEats</title>
      <meta name="viewport" content="initial-scale=1">
      <!-- CSS is included through the card.js script -->
      <script src="{{ url_for('static', filename='js/card.js') }}"></script>
   </head>
   <body>
      <style>
         .demo-container {
            width: 100%;
            max-width: 350px;
            margin: 50px auto;
         } 
         form {
           margin: 30px;
         }
         input {
            width: 200px;
            margin: 10px auto;
            display: block;
         }
      </style>
      <div class="demo-container">
         <div class="card-wrapper"></div>

         <div class="form-container active">
            <form method=POST action="{{url_for('process')}}">
               <input placeholder="Card number" type="tel" name="number">
               <input placeholder="Full name" type="text" name="name">
               <input placeholder="MM/YY" type="tel" name="expiry">
               <input placeholder="CVC" type="number" name="cvc">
               <br/>
               <input type="hidden" name="cart" value="{{cart}}">
               <button type="submit" class="btn btn-primary btn-block" onClick="alert('Thank You for your Order!')">Complete</button>
            </form>
         </div>
      </div>

      <script>
         new Card({
            form: document.querySelector('form'),
            container: '.card-wrapper'
         });
      </script>
   </body>
{% endblock %}
</html>
