<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}

<head>
	<title>Register</title>

	<style>
.center {
	margin: auto;
	width: 60%;
	padding: 10px;
}
	</style>

</head>

<form class="center">
	<div class="row center">
		<div class="col-md-4 col-md-offset-4">
			<select id="myselect">
				<option value="" selected="selected">User Type</option>
				<option value="patron_form">Patron</option>
				<option value="partner_form">Partner</option>
				<option value="employee_form">Employee</option>
			</select>
		</div>
	</div>
</form>

<!---- Patron Registration---->
<form name="patron_form" style="display:none" id="patron_form" method=POST action="{{ url_for('register') }}">
	<div class="col-md-12 text-center">
		<ul class="nav nav-pills center-pills">
			<li role="presentation"><a href="/home">Home</a></li>
			<li role="presentation"><a href="/menu">Menu</a></li>
			<li role="presentation"><a href="/orders/">Orders</a></li>
			<li role="presentation"><a href="/cart/">Cart</a></li>
			<li role="presentation"><a href="/logout">Logout</a></li>
		</ul>
	</div> 
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="form-group">
				<select name="user_type">
					<option value="patron">Patron</option>
				</select>
			</div><div class="form-group">
				<label for="exampleInputEmail1">Username</label>
				<input type="text" class="form-control" name="username" placeholder="Username">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" name="pass" placeholder="Password">
			</div>
			<div class="form-group">
				<label>Address</label>
				<input type="text" class="form-control" name="address">
			</div>          
			<div class="form-group">
				<label>City</label>
				<input type="text" class="form-control" name="city">
			</div>
			<div class="form-group">
				<label>State</label>
				<input type="text" class="form-control" name="state">
			</div>      
			<div class="form-group">
				<label>Zip Code</label>
            <input type="text" class="form-control" name="zip" pattern="[0-9]{5}" placeholder="12345">
			</div><button type="submit" class="btn btn-primary btn-block">Register</button>
		</div>
	</div>
</form>

<!---- Partner Registration---->
<form name="partner_form" style="display:none"  id="partner_form" method=POST action="{{ url_for('register') }}">
	<div class="col-md-12 text-center">
		<ul class="nav nav-pills center-pills">
			<li role="presentation"><a href="/home">Home</a></li>
			<li role="presentation"><a href="/menu">Menu</a></li>
			<li role="presentation"><a href="/orders/">Orders</a></li>
			<li role="presentation"><a href="/cart/">Cart</a></li>
			<li role="presentation"><a href="/logout">Logout</a></li>
		</ul>
	</div>   
	
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="form-group">
				<label for="exampleInputPassword1">Partner Type</label>
				<br/>
				<select name="user_type">
               <!-- Removed Captain from System -->
               <!-- <option value="captain">Captain</option> -->
					<option value="buddy">Buddy</option>
				</select>
			</div><div class="form-group">
				<label for="exampleInputEmail1">Username</label>
				<input type="text" class="form-control" name="username" placeholder="Username">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" name="pass" placeholder="Password">
			</div>
			<div class="form-group">
				<label>Restaurant</label>
				<input type="text" class="form-control" name="restaurant" placeholder="Local Restaurant">
			</div>    
			<div class="form-group">
				<label>Zip Code</label>
            <input type="text" class="form-control" name="zip" pattern="[0-9]{5}" placeholder="12345">
			</div> 
         <button type="submit" class="btn btn-primary btn-block">Register</button>
		</div>
	</div>
</form>

<!---- QuickEats Employee Registration---->
<form name="employee_form" id="employee_form" style="display:none" method=POST action="{{ url_for('register') }}">
	<div class="col-md-12 text-center">
		<ul class="nav nav-pills center-pills">
			<li role="presentation"><a href="/home">Home</a></li>
			<li role="presentation"><a href="/menu">Menu</a></li>
			<li role="presentation"><a href="/orders/">Orders</a></li>
			<li role="presentation"><a href="/cart/">Cart</a></li>
			<li role="presentation"><a href="/logout">Logout</a></li>
		</ul>
	</div>   

	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="form-group">
				<label for="exampleInputPassword1">Employee Type</label>
				<br/>
				<select name="user_type">
					<option value="chauffeur">Chauffeur</option>
					<option value="investigator">Investigator</option>
               <!-- Removed option for Nerd Registration -->
               <!-- <option value="nerd">Nerd</option> -->
				</select>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Username</label>
				<input type="text" class="form-control" name="username" placeholder="Username">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" name="pass" placeholder="Password">
			</div>
			<div class="form-group">
				<label>Zip Code</label>
            <input type="text" class="form-control" name="zip" pattern="[0-9]{5}" placeholder="12345">
			</div>
         <button type="submit" class="btn btn-primary btn-block">Register</button>
		</div>
	</div>
</form>
<br>

<script>
$("#myselect").on("change", function() {
	$("#" + $(this).val()).show().siblings().hide();
})
</script>


{% endblock %}
</html>
